.background{
    background-image: url("../../images/rick-and-morty-fondo3.jpg");
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
}
.formContainer{
    width: 330px;
    height: 320px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 48%;
    top: 50%;
    
}
.form{
    height: 340px;
    width: 280px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 53%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.formLabel{
    position: relative;
    top:-5%;
    color: #eee;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 1rem 0rem 1rem 0rem;
    
}

.formInput{
    position: relative;
    top: -1rem;
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0vh 1vh 1vh 1vh;
    margin: 1rem 1rem 2rem 0rem; 
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.button{
    cursor: pointer;
    position: absolute;
    top: 90%;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    left: 20%;
    margin: 15% 15% 15%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.button:hover{
    background: #c90fb4;
    color: #050801;
    box-shadow: 0 0 5px #c90fb4,
                0 0 25px #c90fb4,
                0 0 50px #c90fb4,
                0 0 200px #c90fb4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.formErrors{
    position: relative;
    top: -3rem;
}