.favorite{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0%;
    grid-row-gap: 1rem;
    justify-items:center;
    margin: 5rem;
}
.select{ 
    border: 1px solid rgba(0, 212, 255, 0.6);
    border-radius: 2px;
    position: relative;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color:black;
    background-color: rgba(0, 176, 200, 0.8);
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: inherit;
    font-weight: 200;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
    left: 30%;
  }
  .select:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
  }
.options{
    padding-left: 0;
    padding-top: 1rem;
    margin-top: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    margin: 0 0 0.25rem 0;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color:black;
    background-color: rgba(0, 176, 200, 0.8);
    border-radius: 10px;
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}
.options:hover,
.options:focus {
  background: mediumorchid;
  transition: background 0.45s;
}