.card{
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 176, 200, 0.5);
  box-shadow: 0px 0px 8px 6px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 370px;
  width: 300px;
}
.name {
  top: 11rem;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color:black;
  text-shadow: 1px 2px 2px rgba(42, 42, 42, 0.5);
  margin-top: -1rem;
  padding: 0rem;
  }
 .description {
  top: 12rem;
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70%;
  font-weight:bold;
  color:black;
  text-shadow: 1px 1px 2px rgba(42, 42, 42, 0.5);
  padding: -5rem -10rem;
  margin-top: 0rem;
  }
  .image {
    bottom: 9rem;
    position: relative;
    border-radius: 40%;
    box-shadow: 0px 0px 8px 6px;
    height: 9rem;
    width: 12rem;
  }
  