.description{
    display: none;
}
.card{  
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color:black;
    background-color: rgba(0, 176, 200, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 6px;
    height: 18rem;
    width: 11rem;
    transition: all ease 0.8s;
}
.image{  
    bottom:6rem;
    position: relative;
    width: 80%;
    margin-top: 10px;
    border-radius: 50%;
    margin-bottom: 6px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 6px;
}
.detail{
    top: 9rem;
    position: relative;
    border: none;
    padding: 12px 24px;
    border-radius: 2rem;
    font-size: 0.8rem;   
    cursor: pointer;
    background: transparent;
    color: rgba(1, 1, 1, 0.6);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
}
.detail:hover{
    transform: scale(1.125);
    color: rgba(3, 2, 2, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
.button{
    top: 1rem;
    position: relative;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
    background: transparent;
    color: rgba(2, 3, 3, 0.6);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
}
.button:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease; 
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.favorite{
    position: absolute;
    right: 2%;
    border-radius: 100%; 
    background: transparent;
    border-color: transparent;
}