.searchbar{
    position: absolute;
    top: 15%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.searchbar:hover > .input {
    width: 240px;
    padding: 0 1%;
}
.searchbar:hover > .searchbutton {
    background: white;
    color : #2f3640;
    background-image: url("../../images/baseline_search_black_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
  .searchbutton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background-image: url("../../images/magnifying-glass-search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
    }